<p id="notice"><%= notice %></p>

<%= stylesheet_link_tag "custom", :media => "all" %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
  <table class="flat_table">
  <thead>
  <tr>
  <th>Tasks</th>
  </tr>
  </thead>
  <tbody>
  <% Task.where(user_id: @user.id).to_a.each do |task| %>
    <tr>
      <td><%= task.task %></td>
    </tr>
  <% end %>
  </tbody>
  </table>

  <br>
  <a href="javascript:history.back();" class="btn-flat-border">戻る</a>
